#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --parallel

override_dh_auto_configure:
	echo "OpenRTM not found. Starting installation..."; \
	# Download the OpenRTM installation script
	curl -s -o /tmp/openrtm2_install_ubuntu.sh https://raw.githubusercontent.com/OpenRTM/OpenRTM-aist/master/scripts/openrtm2_install_ubuntu.sh; \
	if [ $$? -ne 0 ]; then \
		echo "Failed to download the openrtm2 installation script"; \
		exit 1; \
	fi; \
	# Execute the installation script
	bash -c "yes | bash /tmp/openrtm2_install_ubuntu.sh"; \
	if [ $$? -ne 0 ]; then \
		echo "OPENRTM2 installation script failed to execute"; \
		exit 1; \
	fi; \

	# Modify /usr/bin/rtm2-config
	sudo sed -i "s/dl rt Threads::Threads/-ldl -lrt/g" /usr/local/bin/rtm2-config; \
	sudo sed -i "s/-lrtmCamera -lrtmManipulator//g" /usr/local/bin/rtm2-config; \


	dh_auto_configure -- -DENABLE_DOCUMENTS_GENERATE=ON